<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--
    The <servlet> tag will specify a servlet name to be associated
    to a servlet class.
    -->
    <servlet>
        <servlet-name>helloWorldServlet</servlet-name>
        <servlet-class>servlets.helloWorldServlet</servlet-class>
    </servlet>
    <!--
    The <servlet-mapping> tag will specify a relevant servlet name
    to be associated with a URL pattern.
    -->
    <servlet-mapping>
        <servlet-name>helloWorldServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
    <!--
    The <welcome-file-list> tag specifies a "welcome-file" to be displayed
    when a client first arrives at the web application.
    -->
    <welcome-file-list>
        <welcome-file>hello</welcome-file>
    </welcome-file-list>
</web-app>
